<html>
    <head>
        <title>About</title>
        <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        {{>header}}
        <img id="img" src="/img/css.jpg">
        {{>footer}}
    </body>
</html>